:root {
    --body-bg: #fafafa;
    --box-bg: #fff;
    --box-border-color: #dbdbdb;
    --txt-color: #262626;
    --txt-second-color: #8e8e8e;
    --btn-bg: #0095f6;
    --btn-color: #fff;
    --fb-color: #385185;
    --a-color: #00376b;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

 input,
 button {
    border: none;
    outline: none;
  }

  .header {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    width: 100px;
    border-radius: 50px;
  }

  .list {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }

  .wrapper {
    background-color: var(--body-bg);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }


  .box {
    width: 900px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px 10px 50px 100px;
  }

  .box1 {
    border: 2px solid var(--box-border-color);
    width: 500px;
    height: 600px;
    margin-left: 300px;
  }

  .box2 {
    border: 2px solid var(--box-border-color);
    width: 500px;
    height: 600px;
    margin-left: 300px;
  }

  .box-userid {
    width: 300px;
    height: 300px;
    margin: 50px 100px 50px 0;
  }

  .box-header {
    padding: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name{
    flex-grow: 1;
    margin-left: 10px;
  }

  .box-header img {
    width: 50px;
    border-radius: 50%;
  }


  .box-image img {
    width: 490px;
    height: 370px;
    object-fit: cover;
  }

  .like {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .like-number {
    padding: 0 10px;
  }

  .comments{
    padding: 10px;
  }

  .comment1{
    display: flex;
    justify-content: space-between;
  }

  .comment2{
    display: flex;
    justify-content: space-between;
  }

  .comment-input {
    padding: 0 10px;
    border-top: 2px solid var(--box-border-color);
    display: flex;
    justify-content: space-between;
  }

  .comment-btn {
    width: 90%;

  }

  .recommend {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .userid-list {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .userid-list img {
    width: 30px;
    border-radius: 50%;
  }
  .id {
    margin-left: 10px;
    flex-grow:1;
  }

  .box-userid {
    width: 300px;
    border: 2px solid var(--box-border-color);
  }
  
  .more-option-btn {
    cursor: pointer;
  } 


  .more-option.active { 
    transform: translate(0);

  } 

  .more-option {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(-200%);
  }

  .more-option ul {
    border-radius: 5%;
  }

  .more-option > ul {
    width: 400px;

    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .more-option ul li {
    border-bottom: 1px solid lightgray;
    padding: 12px 0;
  }


  .post-upload {
    display: flex;
    flex-direction: column;
  }

  .post {
    width: 370px;
  }



  .post-img {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 

    margin: 20px 0;
  }

  .post img {
    margin-top:100px;
    width: 70px; 
 }

 .post div {
  margin-bottom: 20px;
 }

.post-upload.active{
  transform: translate(0);
}

.post-upload {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate(-200%);
}

.post {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  padding: 15px;
}

.file-input {
  padding: 10px;
  text-align: left;
}

.text-input {
  width: 350px;
  height: 100px;
}


.share-button {
  padding: 10px 0;
  width: 350px;
  background-color: lightblue;
  color: #fff;
}

.post-upload-close {
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  text-align: right;
}

  @media screen and (max-width : 1200px) {

  .box-userid {
    display: none;
  }
  }

